**bower_components**
**.idea**
node_modules
**/dist*/**
**/coverage*/**
**/dist-bower*/**
.sass-cache
*.log
*tmp*
**sublime-project**
**sublime-workspace**
yarn**
coverage/**
docker-context/ui/**
.vscode
/test-report.xml
#css
css

#build
build

#mac
.DS_Store

npm-debug.log

*.bundle.js

node_modules
